.bleed-green {
  background-color: #4CEB69;
  color: #444444;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.bleed-gray {
  background-color: #EEEEEE;
  color: #444444;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.bleed-green p { margin-bottom: 0px }
.red {
  color: #dd0000;
}

.v-margin-small {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.v-margin-small-top {
  margin-top: 1em;
}
.v-margin-large {
  margin-top: 2em;
  margin-bottom: 2.5em;
}
.v-margin-large-top {
  margin-top: 2em;
}
